@import "mapping.css";
#home img{
  filter: drop-shadow(2px 4px 6px black);
  margin-bottom: 30px;
  margin-top: 10px;
}
h3{

}
.footer{
  bottom: 0;
  position: absolute;
}
.tab-filter{
  border: 2px solid red;
  height: fit-content;
  border-radius: 15px;
  padding: 20px;
  text-align: initial;
}
.tab-filter h3{
  background: rgba(255,0,0, 0.5);
  border-radius: 15px;
  padding: 5px;
}
.tab-filter div{
  font-weight: bold;
  font-size: 25px;
  border-left: 10px solid green;
  cursor: pointer;
}
.tab-filter div:hover{
  color: gray;
}
.space{
  background-image: url(../images/space.jpg);
}
.item-map{
  color: yellow;
  float: right;
}
.box-questions{
  /* position: sticky; */
  /* z-index: 11; */
  /* float: right;
  text-align: -webkit-right; */
  left: auto!important;
}
.button-box{
  width: 60px;
  height: 60px;
  background: green;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.button-box i{
    font-size: 37px;
}
.questions{
  background: #343333;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  padding: 3%;
  display: none;
}
.response{

}
